body {
    margin: 0;
}

.toDolist__wrapper {
    width: 400px;
    margin: 20px auto 80px auto;
}

.toDoList__createTask {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.toDoList__btns {
    display: flex;
    justify-content: space-around;
}

.task {
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid black;
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    align-items: center;
    padding-block: 10px;
}

.inputError::placeholder {
    color: red;
    font-size: 10px;
}

.toggle__btns {
    width: 440px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.removeAll__btn {
    display: none;
}
